body{
    font-family:'sans-serif';
    background-color: 	rgb( 46, 64, 83);
}

.par{
    font-size:25px;
}
.h2{
    font-size:40px;
}
.sec{
    background-color:RGB(187, 234, 179);
    height:300px;
    margin-top:30px;
}
.mg{
    padding-top:50px;
}
