body{
    margin: 10px 100px 200px 100px;
    text-align:center;
    background-color: rgba(220,220,220,0.2);
}
.head{
    width:85%;

}
.grid-container{
    display:block;
    text-align:left;
    font-size:14px;
    padding: 0 20px 0 20px;
}
.tab1 th, .tab1 td, .tab2 td{
 border-bottom:2px solid grey;
}
.table-head1{
    border-top:2px solid grey;

}
.tab1{
    float: left;
    width: 60%;
    height: 800px;
}
.tab1 th{
    width: 100px;
    text-align:center;
}
.tab1 td{
    background-color:rgba(220,220,220,0.5);
}
.tab2{
    float:right;
    width:35%;
    height: 700px;
}
.tab2 th{
    width:5%;
    height:2px;
}
.img{
    width:100%;
}
ul, li{
    list-style-type:none;
}
footer{
    display:inline-block;
    text-align:center;
    font-family: 'Yellowtail', cursive;
    font-size:30px;
    background-color:rgba(220,220,220,0.5);
    margin-top:70px;
}
h1{
    font-size:50px;
    color:rgba(220,220,220,1);
    text-align:center;
}
header p{
 display:inline-block;
    text-align:center;
    font-family: 'Yellowtail', cursive;
    font-size:30px;
    background-color:rgba(220,220,220,0.5);
}
.tab2 h2, .tab2 th{
    text-align:center;
}
.col{
    text-align:center;
}
a:link{
    color:red;
}
a:hover{
    color:blue;
}
a:visited{
    color:green;
}
a:active{
    color:pink;
}
@media screen and (max-width:750px){
    .tab2{
    float:left;
    width:35%;
    height: 700px;
    }
}